.provide-explanation-container {
    display: flex;
    flex-direction: column;
}

.what-should-I-know {
    background-color: #F7EDE2;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 65px;
    padding: 1.5em;
}

.future-plans {
    background-color: #F7EDE2;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 65px;
    padding: 1.5em;
}

.future-plans ul {
    padding-left: 0;
    text-align: center;
    list-style: none;
    display: flex;
    align-self: top;
    align-items: center;
    /* border: solid salmon; */
}

.future-plans li {
    margin: 6px;
    padding: 6px;
    height: auto;
    display: flex;
    line-height: 1;
    border: solid 1px #84A59D;
    background-color: #F5CAC3;
    border-radius: 65px;
}


.about-us-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: .5em;
    margin-bottom: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    vertical-align: top;
    /* border: solid; */
}

.about-us-img-container .about-us-img {
    width: 45vw;
    height: 15vw;
    float: center;
    margin: auto;
    margin-bottom: 2%;
    padding-bottom: 0;
    
}
.about-us-img-container {
    float: center;
    text-align: center;
    margin: auto;
    width: 100%;
    margin-bottom: 2%;
    background-color: #f6BD60;
    padding-bottom: 0;
}

.winslow {
    display: flex;
    width: 100%;
    /* background-color: #84A59D; */
    /* border: solid salmon; */
}

.maz {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    width: 100%;
    /* background-color: #84A59D; */
}

.about-us-child-1 {
    padding: .5em;
    /* border: solid 5px #84A59D; */
    align-self: center;
    width:fit-content;
}

.about-us-child-1 img {
    border-radius: 65px;
}

.about-us-child-2 {
    padding: 2em;
    border-radius: 15%;
    align-self: center;
    background-color: #f6BD60;
    /* border: solid goldenrod; */
}

.about-us-child-2 img {
    margin-top: 0;
    padding: 0;
}