.user-reviews-container {
    display: flex;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid salmon;
 } 

.written-reviews-container {
    display: flex;
    border: solid lightblue;
    width: 50%;
}

.liked-reviews-container {
    display: flex;
    flex-wrap: wrap;
    border: solid lavender;
    width: 50%;
}

.single-user-review {
  width: 325px;
  height: fit-content;
  background-color: #F6BD60;
  /* border: solid #F6BD60 3px; */
  margin: 10px;
  padding: 1em;
  border-radius: 15px;
  
}

.single-user-review button {
    border: ;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.like-button {
    justify-content: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

