.provider-name-container{
    display: flex;
    justify-content: center;
    background-color: #F6BD60;
    /* border: solid #F6BD60 2px; */
    width: auto;
    border-radius: 15px;
    padding: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10px;
    margin-right: 10px;
}

.provider-reviews-list {
    display: flex;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
 } 

.single-provider-review {
  width: 325px;
  height: fit-content;
  background-color: #F6BD60;
  /* border: solid #F6BD60 3px; */
  margin: 10px;
  padding: 1em;
  border-radius: 15px;
  
}

*, *:before, *:after {
    box-sizing: border-box;
}

.like-button {
    justify-content: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

