.provider-reviews-list {
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    /* align-content: flex-start; */
    /* display: flex;
    flex-direction: row;
    
    justify-content: space-around; */
}

.single-provider-review {
    flex: 1;
    /* min-width: 10vw; */
    line-height: 10vw;
    border: solid;
    margin: 1em;
    text-align: center;
    width: 30%;
    /* display: flex;
    justify-content: center;
    height: 400px;
    width: 375px;
    padding: 1em;
    flex-direction: column;
    /* this is so I can see each review */
}

*, *:before, *:after {
    box-sizing: border-box;
}

.like-button {
    justify-content: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

