.review-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
}

.review-form-container form {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #F7EDE2;
    max-width: 75%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 15px;
    border: bevel 1px;
}

.review-and-ratings {
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 1em;
}

.description {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

.subnav li a {
    font-size: 20;
}

.review-form-container li {
    margin: 10px 0;
}

.review-form button {
    padding: 10px;
    background-color: #F5CAC3;

}

