.everyone-deserves-img{
    width: 1000px; 
    height:500px; 
    padding-right: 0;
    margin-right: 0;
    margin-left: 40%;
    float: right;  
    max-width: 1000px;
    max-height: 1000px;  
}

.everyone-deserves {
    display: flex;
    flex-wrap: column;
    flex-direction: column;
}

.home-view-container img {
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
}
.home-view-container {
    display: grid;
    grid-template-columns: .25fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* float: right;
    align-items: right; */
    margin-right: 0;
    margin-top: 7%;
    /* background-color: #F6BD60; */
    border-radius: 25px;
    margin-left: 0px;
    padding-left: 0px;
    background-color: #F6BD60;
}

.home-view-search-bar {
    height: 50%;
    width: 50%;
    margin: auto;
    text-align: center;
    float: right;
    justify-content: center;
}