.provider-database-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
    background-color: #F6BD60;
    margin: 1.4%;
    border-radius: 65px;
    
}

.provider-view-img {
    height: 60%;
    width: 60%;
    margin-left: 1%;
    margin-top: 1.5%;
    margin-bottom: 0;
    text-align: left;
    float: left;
    align-content: left;
    border: 20px solid #F6BD60;
}

.provider-database-list-child {
    float: center;
    border-style: groove;
    border-radius: 20px;
    margin: 20px;
    padding: 5px;
    width: 30vw;
    height: 30vw;
    background-color: #F7EDE2;
    /* border: solid #F6BD60 3px; */
    margin: 10px;
    padding: 1em;
    border-radius: 15px;
    
}

.provider-database-list-child h2 {
    font-size: 2vw;
    color: #3c534d;
}

.provider-database-list-child h2:hover {
    color: #84A59D;
}

.provider-database-list-child p {
    font-size: 1.5vw;
    color: #F28482;
}