.registration-form-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.registration-form-container img {
    margin-top: 0;
    margin-bottom: 0;
    height: 150px;
    width: 400px;
}
.registration-form-container form {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #F7EDE2;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 8vw;
    padding-bottom: 10px;
    border-radius: 25px;
    width: 500px;
    height: 400px;
}

.registration-form-container button {
    margin-top: 10px;
    color: #3c534d;
}

.registration-form-container .register {
    margin-bottom: 5%;
}

.toggle-prompt {
    margin-bottom: 0;
    padding-bottom: 0;
}