.search-bar-container {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: flex-end;
}

.everyone-deserves .search-form-container {
    height: 50%;
    width: 50%;
    margin-top: 0;
    text-align: center;
    margin-right: 10%;
    margin-bottom: 5%;
    float: right;
    justify-content: center;
}

.search-form-container form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    width: fit-content;
    padding: 15px;
    background-color: #84A59D;
    border-color: #F7EDE2;
    border-style: double;
    border-width: 5px;
    border-radius: 25px;
    /* box-shadow: 5px 5px ; */
}

.search-form-container form input {
    box-shadow: 5px 5px ;
}
.search-form-container form button {
    margin-top: 20%;
    margin-bottom:20%;
    margin-left: 10px
}

/* CSS */
.button-33 {
    background-color: rgb(245, 202, 195);
    border-radius: 100px;
    box-shadow: rgba(245, 202, 195, .2) 0 -25px 18px -14px inset,rgba(245, 202, 195, .15) 0 1px 2px,rgba(245, 202, 195, .15) 0 2px 4px,rgba(245, 202, 195, .15) 0 4px 8px,rgba(245, 202, 195, .15) 0 8px 16px,rgba(245, 202, 195, .15) 0 16px 32px;
    color: #3c534d;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }

.button-33:hover {
    box-shadow: rgba(242,132,130, .2) 0 -25px 18px -14px inset,rgba(242,132,130, .15) 0 1px 2px,rgba(242,132,130, .15) 0 2px 4px,rgba(242,132,130, .15) 0 4px 8px,rgba(242,132,130, .15) 0 8px 16px,rgba(242,132,130, .15) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
    }
