/* * {
    border: dashed;
} */

header {
    line-height: 2.5;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #f7ede2;
    width: 125vw;
    position: relative;
    max-width: 125vw;
    left: 29%;
    margin-left: -30vw;
    margin-bottom: 2em;
  }
  
  .logo {
    display: block;
    margin-right: 1rem;
  }
  
  nav {
    display: flex;
    align-items: center;
    font-size: 1.33rem;
  }
  
  nav a {
    display: inline-block;
    color: #84A59D;
    padding: 0 2rem;
    border-left: 1px solid var(#3D524D);
  }
  
  nav a:first-of-type {
    border: 0;
  }
  
  /* Optional: Add background color or other styling to the navigation ribbon */
  nav {
    background-color: var(#f7ede2);
    /* Add any other styling you want for the navigation ribbon */
  }