
#app {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  max-height: 100%;
}


body {
  margin: 0px;
  background-color: #F5CAC3;
}

header {
    line-height: 2.5;
    display: grid;
    grid-template-columns: .7fr .5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #f7ede2;
    width: 100vw;
    max-width: 100%;
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    margin-top: 0px;
    vertical-align: middle;
  }
  
  .logo {
    display: block;
    margin-right: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 20px;
    margin-top: 8px;
  }

  .logo :hover{
    background-color: #F7EDE2 !important;
  }
  
  nav ul{
    display: flex;
    align-items: right;
    font-size: 1.33rem;
    float: right;
  }
  
  nav ol {
    display: none;
    float: right;
  } 


  nav a {
    display: inline-block;
    color: #3c534d;
    padding: 0 2rem;
    border-left: 1px solid var(#3D524D);
  }
  
  nav a:first-of-type {
    border: 0;
  }

  nav a:hover {
    background-color: #F28482 !important;
  }


  
  /* Optional: Add background color or other styling to the navigation ribbon */
  nav {
    background-color: var(#f7ede2);
    /* Add any other styling you want for the navigation ribbon */
  }

  nav .logo-button:hover {
    background-color: none !important;
  }

  form input {
    border-radius: 20px;
    text-align: center;
  }

  @media (max-width: 960px) {
    nav ul     { font-size: smaller; }
    .home-view-img {display: none;}
    /* .home-view-container .everyone-deserves img {width: ; 
    ; } */
    .everyone-deserves .search-bar-container {
        align-items: flex-start;
    }
    .search-form-container {width: 20%;}
  }

  .button-33 {
    background-color: rgb(245, 202, 195);
    border-radius: 100vw;
    box-shadow: rgba(245, 202, 195, .2) 0 -25px 18px -14px inset,rgba(245, 202, 195, .15) 0 1px 2px,rgba(245, 202, 195, .15) 0 2px 4px,rgba(245, 202, 195, .15) 0 4px 8px,rgba(245, 202, 195, .15) 0 8px 16px,rgba(245, 202, 195, .15) 0 16px 32px;
    color: #3c534d;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 1vw;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }

.button-33:hover {
    box-shadow: rgba(242,132,130, .2) 0 -25px 18px -14px inset,rgba(242,132,130, .15) 0 1px 2px,rgba(242,132,130, .15) 0 2px 4px,rgba(242,132,130, .15) 0 4px 8px,rgba(242,132,130, .15) 0 8px 16px,rgba(242,132,130, .15) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
    }
