/* * {
  margin: 0px;
  padding-top: 0px;
    /* border: dashed; 
   } */

#app {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  max-height: 100%;
}

logo {
  padding-left: 0;
  margin-left: 0;
}
body {
  margin: 0px;
  background-color: #F5CAC3;
}
header {
    line-height: 2.5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: left;
    align-content: left;
    background-color: #f7ede2;
    width: 100vw;
    max-width: 100%;
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    margin-top: 0px;
    vertical-align: middle;
  }
  
  .logo {
    display: block;
    margin-right: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 20px;
    margin-top: 8px;
  }
  
  nav {
    display: flex;
    align-items: right;
    font-size: 1.33rem;
  }
  
  nav a {
    display: inline-block;
    color: #3c534d;
    padding: 0 2rem;
    border-left: 1px solid var(#3D524D);
  }
  
  nav a:first-of-type {
    border: 0;
  }
  
  /* Optional: Add background color or other styling to the navigation ribbon */
  nav {
    background-color: var(#f7ede2);
    /* Add any other styling you want for the navigation ribbon */
  }